- title 'Trips'

%table.table.table-zebra
  %tr
    %th Date
    %th Mountain(s)
    %th Hiker(s)
    %th

  - trips.each do |trip|
    %tr
      %td= trip.start_at.to_date
      %td= trip.mountains.map(&:fullname).join(', ')
      %td= trip.hikers.map(&:name).join(', ')
      %td
        = link_to 'Show', trip, class: 'btn btn-mini'
        = link_to 'Edit', edit_trip_path(trip), class: 'btn btn-mini'
        = link_to 'Destroy', trip, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini'

%br

= link_to 'New Trip', new_trip_path
