= simple_form_for(mountain) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :fullname
    = f.input :elevation
    = f.input :lat
    = f.input :lng
    = f.input :trailsnh_link
    = f.input :netc_link
    = f.input :amc_link
    = f.input :notes

  .form-actions
    = f.button :submit
