%h1 The Mountains
.row-fluid
  .span6
    = render 'map'
  .span6
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{ width: 20 } 
          %th Mountain
          %th Elevation
          - if current_user
            %th
      %tbody
        - mountains.each_with_index do |mountain, i|
          %tr
            %td= "#{i+1}."
            %td= link_to mountain.fullname, mountain
            %td= "#{mountain.elevation}'"
            - if current_user
              %td
                - hiker = Hiker.where(name: 'Jonathan').first
                - trips = hiker.trips.where(ascents: {mountains:mountain})
                - trips.all.each do |trip|
                  =link_to trip.start_at.to_date, trip
            -# %td= link_to 'Edit', edit_mountain_path(mountain)
            -# %td= link_to 'Destroy', mountain, :confirm => 'Are you sure?', :method => :delete
    - if current_user
      %br
      = link_to 'Add Mountain', new_mountain_path
