- title "#{mountain.fullname} (#{mountain.elevation}')"

%div
  = markdown mountain.notes if mountain.notes.present?
  
%h2 Links
%ul
  - if mountain.amc_link.present?
    %li= link_to 'AMC', mountain.amc_link
  - if mountain.trailsnh_link.present?
    %li= link_to 'TrailsNH', mountain.trailsnh_link
  - if mountain.netc_link.present?
    %li= link_to 'New England Trails Conditions', mountain.netc_link

= link_to 'Edit', edit_mountain_path(mountain) if current_user
