- title 'Hikers'

%table.table.table-zebra
  %tr
    %th Name
    %th Birthdate
    %th

  - hikers.each do |hiker|
    %tr
      %td= hiker.name
      %td= hiker.born_on
      %td
        = link_to 'Show', hiker, class: 'btn btn-mini'
        = link_to 'Edit', edit_hiker_path(hiker), class: 'btn btn-mini'
        = link_to 'Destroy', hiker, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-mini'

%br

= link_to 'New Hiker', new_hiker_path
