- body_id 'home'
%h1 My New Hampshire 4000 Footers
#home_image.image
  = image_tag 'DSC00347-450x338.jpg', size: '450x338'
  %p
    Mt. Tom summit, April 2012
  
%p
  In the spring of 2012, Lisa and I decided to embark upon the goal of qualifying for #{ link_to 'The Four Thousand Footers Club', 'http://www.amc_link4000footer.org/' } by hiking to the summit of all 42 mountain peaks taller than 4000-feet in the White Mountains of New Hampshire.
%p
  Officially, there's no time limit for accomplishing this goal to get certified, although it's recommended you do it within one lifetime :) We've already climbed several (Cannon, Lafayette, and Moosilauke) in the past couple years. The others present a further formidable and titillating challenge.
%p
  This site serves as a journal of our journey.
%p
  = link_to 'Journal', '/'
  |
  = link_to 'Hikes', '/'
  |
  = link_to 'Mountains', '/'
  